<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content>

  <ng-container *ngIf="form">

    <div class="spinner-container" *ngIf="notesStore.loading()">

      <mat-spinner></mat-spinner>

    </div>

    <ng-container [formGroup]="form">

      <mat-form-field>

        <input matInput placeholder="Note Title" formControlName="title">

      </mat-form-field>

      <mat-form-field>

        <textarea matInput placeholder="Note" formControlName="body">
                </textarea>

      </mat-form-field>

      <mat-slide-toggle formControlName="important">Important</mat-slide-toggle>


    </ng-container>


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Close
  </button>

  <button mat-raised-button color="primary" [disabled]="!form.valid || notesStore.loading()" (click)="onSave()">
    Save
  </button>

</mat-dialog-actions>